<h1>Sign up here.</h1>

<form action="/signup" method="post">
    <input type="text" name="username" placeholder="username"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input type="password" placeholder="password"><br>

    <button type="submit">Create Account</button>
</form>