<h1>Welcome, <%= current_user.username %></h1>

<h2>All Added Extinct Animals</h2>
<ol>
    <% Animal.all.each do |animal| %>
        <li><%= animal.content %></li>
    <% end %>
</ol>

<a href="/animals/new">Add Another?</a>