<h1>Welcome, <%= current_user.username %></h1>

<h2>All Added Extinct Animals</h2>
<ol>
    <% Animal.all.each do |animal| %>
        <li><a href="/animals/<%= animal.id %>"><%= animal.name %></a></li>
    <% end %>
</ol><br>

<form action="/animals/new" method="get">
    <button class="button" type="submit">Add Another?</button>
</form>