<h1>Add New Extinct Animal</h1>

<form action='/animals' method="post">
    <input type="text" name="animal_name" placeholder="animal name"><br>
    <input type="text" name="animal_type" placeholder="animal type"><br>
    <input type="integer" name="animal_last_sighting" placeholder="last sighting"><br>
    <input type="text" name="animal_description" placeholder="describe the animal"><br>

    <button type="submit">Create Animal</button>
</form>