<% if logged_in? %>

    <p> Welcome, <%= current_user.username %></p>
    <form action="/logout" method="get">
        <button class="button" type="submit">Log Out</button>
    </form>

<% else %>

    <form action="/login" method="get">
        <button class="button" type="submit">Log In</button>
    </form>

    <form action="/signup" method="get">
        <button class="button" type="submit">Sign Up</button>
    </form>

<% end %>
