<div class="container">
    <img src="/images/animals-3546011_1920.jpg" alt="Little animal figurines in a yellow background">

    <% if logged_in? %>

        <h3 id="profile-wrapper"> Welcome, <%= current_user.username %></h3>
        <div id="profile-wrapper">
            <form action="/logout" method="get">
                <button class="button" type="submit">Log Out</button>
            </form>
        </div>

    <% else %>

        <form action="/login" method="get">
            <button style="left: 42%" class="btn-absolute" type="submit">Log In</button>
        </form>

        <form action="/signup" method="get">
            <button style="left: 58%" class="btn-absolute" type="submit">Sign Up</button>
        </form>

    <% end %>
</div>
